{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "useTabs": false,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.jsonc", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
